* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container-width{
  width:90%;
  max-width:1150px;
  margin:0 auto;
}
.flex-sect{
  background-color:#fafafa;
  padding:100px 0;
  font-family:Helvetica, serif;
}
.cards{
  padding:20px 0;
  display:flex;
  justify-content:space-around;
  flex-flow:wrap;
}
.card{
  background-color:white;
  height:300px;
  width:300px;
  margin-bottom:30px;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius:2px;
  transition:all 0.5s ease;
  font-weight:100;
  overflow:hidden;
}
.card:hover{
  margin-top:-5px;
  box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.card-body{
  padding:15px 15px 5px 15px;
  color:#555;
}
.card-desc{
  font-size:0.85rem;
  line-height:17px;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#i1cyo{
  background-image:url("https://media.discordapp.net/attachments/933539230540517437/933661209012613120/test_4.png?width=2762&height=1352");
  background-repeat:no-repeat;
  background-position:left top;
  background-attachment:fixed;
  background-size:cover;
  padding:0 0 100px 0;
}
#ijjab{
  flex-direction:column;
  justify-content:flex-end;
  align-items:flex-end;
  text-align:right;
}
#ih2shk{
  height:380px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#ibxztg{
  text-align:right;
}
#imfi5y{
  text-align:right;
}
#iewjvl{
  height:330px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#i2lcaq{
  flex-direction:column;
}
#i7wm89{
  flex-basis:75%;
}
#igpb1i{
  text-align:right;
}
#irzy8d{
  height:380px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#iwgged{
  flex-direction:column;
}
#i211os{
  text-align:right;
}
#ifr581{
  text-align:right;
}
#ifwy5f{
  text-align:right;
}
#icogm6{
  text-align:right;
}
#i2x7nh{
  height:300px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#il2cxb{
  text-align:right;
}
#iatnh7{
  text-align:right;
}
#i3kpwg{
  height:1200px;
  padding:50px 10px 10px 10px;
}
#ig7d2{
  text-align:left;
}
#i88958{
  font-size:13.6px;
}
#i26y6h{
  text-align:justify;
}
#ijn26{
  text-align:justify;
  padding:0 0 0 0;
}
#i3v9v{
  text-align:justify;
}
#ijmjha{
  text-align:justify;
}
#ivnmuz{
  height:290px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#iw9foz{
  text-align:justify;
}
#i7crdm{
  padding:0 15px 5px 15px;
}
#iwg8qq{
  height:370px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#ik0esf{
  height:150px;
  border:3px solid black;
  border-radius:10px 10px 10px 10px;
}
#il1on{
  text-align:justify;
}
#i6uadg{
  text-align:right;
}
#ixtlxi{
  text-align:justify;
}
#i6gnwf{
  font-size:13.6px;
}
#iuraej{
  height:220px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#it1prl{
  text-align:justify;
}
#ibp1st{
  height:270px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#i50w4q{
  text-align:right;
}
#i8eo0s{
  height:620px;
  border:3px solid black;
  border-radius:10px 10px 10px 10px;
}
#iph0kf{
  text-align:justify;
}
#iit5g3{
  font-size:13.6px;
}
#iawct7{
  font-size:13.6px;
}
#iu4j1x{
  font-size:13.6px;
}
#iyhthi{
  font-size:13.6px;
}
#ihsun9{
  font-size:13.6px;
}
#iokg4u{
  font-size:13.6px;
}
#iwkhia{
  font-size:13.6px;
}
#i0ql43{
  font-size:13.6px;
}
#ip04eq{
  font-size:13.6px;
}
#iwm77h{
  font-size:13.6px;
}
#isqtzf{
  font-size:13.6px;
}
#iosjlq{
  font-size:13.6px;
}
#i9ou4i{
  font-size:13.6px;
}
#i6775q{
  font-size:13.6px;
}
#il23yf{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:160px;
}
#isw6rc{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#i9xeov{
  padding:0 15px 5px 15px;
}
#infeb{
  padding:15px 15px 5px 15px;
}
#ixuhi7{
  text-align:right;
}
#i7sbx2{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:310px;
}
#ikv7jl{
  text-align:right;
}
#iq0k7p{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:220px;
}
#ih4br3{
  color:black;
  width:500px;
  height:500px;
}
#i0brpn{
  text-align:justify;
}
#i6bdld{
  text-align:right;
}
#i59ku2{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#i286yt{
  text-align:right;
}
#ioxlkz{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#ivq2lg{
  color:black;
  width:800px;
  height:800px;
}
#ivdrz7{
  color:black;
  width:600px;
  height:858px;
}
#im8qjg{
  color:black;
  width:1280px;
  height:863px;
}
#i5bqbt{
  width:200px;
}
#iftvkc{
  flex-basis:500px;
}
#ibthes{
  padding:0 0 0 0;
}
#iwwpai{
  text-align:center;
}
#ieu10j{
  min-height:15px;
}
#i2c9mf{
  min-height:10px;
}
#id1kgk{
  color:black;
  width:460px;
}
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
}
