* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container-width{
  width:90%;
  max-width:1150px;
  margin:0 auto;
}
.flex-sect{
  background-color:#fafafa;
  padding:100px 0;
  font-family:Helvetica, serif;
}
.cards{
  padding:20px 0;
  display:flex;
  justify-content:space-around;
  flex-flow:wrap;
}
.card{
  background-color:white;
  height:300px;
  width:300px;
  margin-bottom:30px;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius:2px;
  transition:all 0.5s ease;
  font-weight:100;
  overflow:hidden;
}
.card:hover{
  margin-top:-5px;
  box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.card-body{
  padding:15px 15px 5px 15px;
  color:#555;
}
.card-desc{
  font-size:0.85rem;
  line-height:17px;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#i1cyo{
  background-image:url("https://media.discordapp.net/attachments/933539230540517437/933661209012613120/test_4.png?width=2762&height=1352");
  background-repeat:repeat;
  background-position:left top;
  background-attachment:fixed;
  background-size:cover;
  padding:0 0 100px 0;
}
#ijjab{
  flex-direction:column;
  justify-content:flex-end;
  align-items:flex-end;
  text-align:right;
}
#ih2shk{
  height:380px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#ibxztg{
  text-align:right;
}
#imfi5y{
  text-align:right;
}
#iewjvl{
  height:330px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#i2lcaq{
  flex-direction:column;
}
#i7wm89{
  flex-basis:75%;
}
#igpb1i{
  text-align:right;
}
#irzy8d{
  height:380px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#iwgged{
  flex-direction:column;
}
#i211os{
  text-align:right;
}
#ifr581{
  text-align:right;
}
#ifwy5f{
  text-align:right;
}
#icogm6{
  text-align:right;
}
#i2x7nh{
  height:300px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#il2cxb{
  text-align:right;
}
#iatnh7{
  text-align:right;
}
#i3kpwg{
  height:950px;
  padding:50px 10px 10px 10px;
}
#ig7d2{
  text-align:justify;
}
#i88958{
  font-size:13.6px;
}
#i26y6h{
  text-align:justify;
}
#ijn26{
  text-align:justify;
  padding:0 0 0 0;
}
#i3v9v{
  text-align:justify;
}
#ijmjha{
  text-align:justify;
}
#ivnmuz{
  height:290px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#iw9foz{
  text-align:justify;
}
#i7crdm{
  padding:0 15px 5px 15px;
}
#iwg8qq{
  height:370px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#ik0esf{
  height:150px;
  border:3px solid black;
  border-radius:10px 10px 10px 10px;
}
#il1on{
  text-align:justify;
}
#i6uadg{
  text-align:right;
}
#ixtlxi{
  text-align:justify;
}
#i6gnwf{
  font-size:13.6px;
}
#iuraej{
  height:220px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#it1prl{
  text-align:justify;
}
#ibp1st{
  height:270px;
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
}
#i50w4q{
  text-align:right;
}
#i8eo0s{
  height:620px;
  border:3px solid black;
  border-radius:10px 10px 10px 10px;
}
#iph0kf{
  text-align:justify;
}
#iit5g3{
  font-size:13.6px;
}
#iawct7{
  font-size:13.6px;
}
#iu4j1x{
  font-size:13.6px;
}
#iyhthi{
  font-size:13.6px;
}
#ihsun9{
  font-size:13.6px;
}
#iokg4u{
  font-size:13.6px;
}
#iwkhia{
  font-size:13.6px;
}
#i0ql43{
  font-size:13.6px;
}
#ip04eq{
  font-size:13.6px;
}
#iwm77h{
  font-size:13.6px;
}
#isqtzf{
  font-size:13.6px;
}
#iosjlq{
  font-size:13.6px;
}
#i9ou4i{
  font-size:13.6px;
}
#i6775q{
  font-size:13.6px;
}
#il23yf{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:160px;
}
#isw6rc{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:230px;
}
#i9xeov{
  padding:0 15px 5px 15px;
}
#infeb{
  padding:15px 15px 5px 15px;
}
#ixuhi7{
  text-align:right;
}
#i7sbx2{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:310px;
}
#ikv7jl{
  text-align:right;
}
#iq0k7p{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:220px;
}
#ih4br3{
  color:black;
  width:500px;
  height:500px;
}
#i0brpn{
  text-align:justify;
}
#i6bdld{
  text-align:right;
}
#i59ku2{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:500px;
}
#i286yt{
  text-align:right;
}
#ioxlkz{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  text-align:justify;
  height:220px;
}
#ivq2lg{
  color:black;
  width:800px;
  height:800px;
}
#ivdrz7{
  color:black;
  width:600px;
  height:858px;
}
#iftvkc{
  flex-basis:500px;
}
#ibthes{
  padding:0 0 0 0;
}
#iwwpai{
  text-align:center;
}
#ieu10j{
  min-height:15px;
  flex-basis:30%;
}
#id1kgk{
  color:black;
  width:460px;
}
#i62nph{
  color:black;
  width:1280px;
  height:863px;
}
#i8llhj{
  padding:10px;
  text-align:right;
}
#ii3ykg{
  border:5px solid black;
  border-radius:10px 10px 10px 10px;
  background-image:url('https://via.placeholder.com/350x250/e868a2/fff/image6.jpg');
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  font-size:30px;
  color:#ffffff;
}
#i41xfl{
  border:5px solid black;
  border-radius:10px 10px 10px 10px;
  background-image:url('https://via.placeholder.com/350x250/e868a2/fff/image6.jpg');
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  font-size:30px;
  color:#ffffff;
}
#izq6gx{
  min-height:0;
  height:40px;
  text-align:right;
}
#i2lbni{
  border:5px solid black;
  border-radius:10px 10px 10px 10px;
  background-image:url('https://via.placeholder.com/350x250/e868a2/fff/image6.jpg');
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  font-size:30px;
  color:#ffffff;
}
#igg32b{
  padding:10px;
  text-align:right;
}
#it9d1l{
  padding:50px 10px 10px 10px;
}
#iidpft{
  border:5px solid black;
  border-radius:10px 10px 10px 10px;
  background-image:url('https://via.placeholder.com/350x250/e868a2/fff/image6.jpg');
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  font-size:30px;
  color:#ffffff;
}
#igfvhz{
  padding:0 0 0 100px;
}
#ifkr8m{
  align-self:flex-end;
  min-height:40px;
}
#io600g{
  color:black;
  width:800px;
}
#isjw0f{
  text-align:justify;
}
#i40ibd{
  text-align:justify;
}
#iphxtv{
  font-size:13.6px;
}
#ivaahl{
  font-size:13.6px;
}
#izmqz{
  text-align:justify;
}
#i4ug9f{
  text-align:right;
}
#iw61ii{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:280px;
}
#i75k6t{
  text-align:right;
}
#imd5hw{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:200px;
}
#ioji6d{
  text-align:right;
}
#iu5qze{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:160px;
}
#iqdcaz{
  text-align:right;
}
#i88008{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:470px;
}
#ix83vb{
  text-align:right;
}
#inryrh{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:250px;
}
#inqm54{
  text-align:right;
}
#imav1i{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:220px;
}
#ijabov{
  text-align:justify;
}
#i4xvex{
  font-size:13.6px;
}
#iwd1jk{
  font-size:13.6px;
}
#ixlqrv{
  font-size:13.6px;
}
#ivo8aa{
  font-size:13.6px;
}
#ifknhs{
  font-size:13.6px;
}
#i1eeea{
  font-size:13.6px;
}
#i7t7rx{
  font-size:13.6px;
}
#iyv24b{
  font-size:13.6px;
}
#iap1a5{
  font-size:13.6px;
}
#itppzw{
  font-size:13.6px;
}
#ig9uob{
  font-size:13.6px;
}
#idg21j{
  font-size:13.6px;
}
#icnwm8{
  font-size:13.6px;
}
#i5p4nq{
  font-size:13.6px;
}
#ij0qmy{
  font-size:13.6px;
}
#ih9zm4{
  font-size:13.6px;
}
#ic7qb7{
  font-size:13.6px;
}
#ie8a0n{
  font-size:13.6px;
}
#ifns8w{
  font-size:13.6px;
}
#ij8bbb{
  font-size:13.6px;
}
#i8fasp{
  font-size:13.6px;
}
#iimro8{
  font-size:13.6px;
}
#i2r0os{
  font-size:13.6px;
}
#izhmzy{
  font-size:13.6px;
}
#i3tpz1{
  font-size:13.6px;
}
#igc802{
  font-size:13.6px;
}
#ikrhwd{
  font-size:13.6px;
}
#ifumpa{
  font-size:13.6px;
}
#i5oc11{
  font-size:13.6px;
}
#iru7yl{
  font-size:13.6px;
}
#i2zsfk{
  font-size:13.6px;
}
#itzyme{
  font-size:13.6px;
}
#i03f9n{
  font-size:13.6px;
}
#iu4gpi{
  font-size:13.6px;
}
#iik3ph{
  font-size:13.6px;
}
#isq8bx{
  font-size:13.6px;
}
#i7zf8m{
  font-size:13.6px;
}
#id3pqg{
  font-size:13.6px;
}
#i8lvop{
  font-size:13.6px;
}
#ipxy2v{
  font-size:13.6px;
}
#ick27o{
  text-align:justify;
}
#idh295{
  text-align:justify;
}
#iq6pni{
  text-align:justify;
}
#i6i808{
  text-align:justify;
}
#i7fnri{
  text-align:justify;
}
#i4t7zk{
  text-align:justify;
}
#ia6y1e{
  text-align:justify;
}
#ikbvhy{
  text-align:justify;
}
#ig9pss{
  text-align:right;
}
#imr6rb{
  border-radius:10px 10px 10px 10px;
  border:3px solid black;
  height:310px;
}
#ibkg3o{
  color:rgb(32, 33, 36);
  font-family:Roboto, Arial, sans-serif;
  font-size:14px;
  letter-spacing:0.2px;
  text-align:start;
  white-space:pre-line;
  background-color:rgb(248, 249, 250);
}
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
}



